.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #ec7505;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #2364AA;
}

.formacao-texto strong {
  color: #ec7505;
}
.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #2364AA;
}

.experiencia-texto strong {
  color: #ec7505;

}

.empresa {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background: #FEC601;
  margin-bottom: 20px;
  border-radius: 4px;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#FEC601, #ec7505);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  color: #2364AA;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #2364AA;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ec7505;
  padding: 5px 10px;
  color: #ffffff;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #2364AA;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

